/****
/* RESPONSIVE MEDIA QUERY */
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-width:1500px) {
    #three-chicks-cleaning {
      margin-right:500px;
    }
    .background-image {
      min-height:850px;
      max-height:915px;
    }
    #aboutus1image {
      height:350px;
      width:250px;
      margin-bottom:3%;
      margin-top:3%;
    }
    #aboutus2image {
      height:275px;
      width:275px;
      margin-bottom:3%;
    }
    .aboutus-text {
      margin:0 5% 0 5%;
      font-size:2.2em;
      width:500px;
      text-align:center;
    }
  }
  /*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
  #three-chicks-cleaning {
    margin-right:30%;
  }
  .background-image {
    max-height:890px;
  }
  .image-container1 {
    margin-right:20%;
    margin-left:10%;
  }
  .images {
    height:350px;
    width:250px;
  }
  #social-box, #contact-heading {
    margin-top:5%;
  }
  .social-statement {
    font-size:2.5em;
  }
  .social-heading {
    font-size:2.0em;
  }
  .social-heading-text {
    font-size:1.3em;
  }
  .images2 {
    height:300px;
    width:300px;
    border:3px solid white;
  }
  #page-details, #pf-navigation {
    margin-right:2%;
  }
  #f-socials, #legal {
    margin-right:1%;
  }
  .fa-twitter, .fa-facebook {
    font-size:2.5em;
  }
  .tabs1 {
    left:25px;
  }
  .tabs2 {
    left:-75px;
  }
  .tabs3 {
    left:-130px;
  }
  .tabs4 {
    left:-35px;
  }
  .tabs5 {
    left:35px;
  }
  .tabs6 {
    left:825px;
    top:330px;
  }
  .chat {
    font-size:13.0em;
    right:195px;
  }
  .shadow {
    font-size:14.0em;
  }
  #chat {
    font-size:2.0em;
    right:95px;
    bottom:140px;
  }
  #woman {
    width:580px;
    height:680px;
  }
  #chat-bubble {
    left:600px;
    bottom:300px;
  }
  #aboutus1image {
    height:350px;
    width:250px;
    margin-bottom:3%;
    margin-top:3%;
  }
  #aboutus2image {
    height:275px;
    width:275px;
    margin-bottom:3%;
  }
  .aboutus-text {
    margin:0 5% 0 5%;
    font-size:2.2em;
    width:500px;
    text-align:center;
  }
  #employment-box {
    margin-top:10%;
  }
  .app-text {
    padding-left:15%;
  }
  #appointment-details, #three-chicks-section {
    margin:10% 1% 5% 1%;
  }
  #three-chicks-image {
    height:650px;
    width:600px;
  }
  #app-name, #app-email, #app-number, #app-date {
    margin:20px;
  }
  #comment-section {
    padding:10px;
    max-width:500px;
  }
  #three-chicks-woman-image {
    height:550px;
    width:480px;
  }
  #three-chicks-woman {
    width:100px;
  }
  }
  /*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    #header {
      height:70px;
    }
    #help {
      font-size:4.0em;
    }
    #three-chicks-cleaning {
      margin-right:20%;
    }
    .background-image {
      max-height:1100px;
      margin-top:70px;
    }
    .image-container1, .image-container2 {
      margin-top:20%;
    }
    .image-container1 {
      margin-right:10px;
      margin-left:10%;
      margin-bottom:3.8%;
    }
    .images {
      height:375px;
      width:275px;
    }
    .images2 {
      height:325px;
      width:325px;
      border:3px solid white;
    }
    #pre-footer {
      padding:10px 0 0 15px;
      height:auto;
      display:block;
      width:100%;
      max-width:auto;
    }
    #page-details, #pf-navigation {
      margin-right:1%;
    }
    #f-socials, #legal {
      margin-right:1%;
    }
    #f-socials {
      margin-bottom:2%;
    }
    .fa-twitter, .fa-facebook {
      font-size:2.5em;
    }
    .fa-twitter {
      padding:25px 15px;
    }
    .fa-facebook {
      padding:25px;
    }
    #m-statement {
      margin-bottom:0;
    }
    #m-statement-text {
      font-size:2.5em;
    }
    #home-button {
      height:70px;
      width:170px;
      margin-bottom:3%;
      margin-top:3%;
      border: 5px solid white;
    }
    #btn1 {
      font-size:1.7em;
      margin-top:7px;
    }
    .pf-navs {
      font-size:1.2em;
      line-height:27px;
    }
    .pd-text {
      font-size:1.3em;
    }
    #woman {
      height:675px;
      width:575px;
      margin-top:10%;
    }
    .tabs1, .tabs2, .tabs3, .tabs4, .tabs5, .tabs6 {
      font-size:2.9em;
    }
     .tabs1 {
      left:-20px;
      top:500px;
    }
    .tabs2 {
      left:-150px;
      top:350px;
    }
    .tabs3 {
      left:-205px;
      top:200px;
    }
    .tabs4 {
      left:-100px;
      top:200px;
    }
    .tabs5 {
      left:485px;
      top:300px;
    }
    .tabs6 {
      left:425px;
      top:435px;
    }
    .shadow {
      font-size:13.0em;
    }
    .chat {
      font-size:11.5em;
      right:175px;
      bottom:8px;
    }
    #chat  {
      right:80px;
      font-size:1.9em;
      bottom:125px
    }
    #chat-bubble {
      left:400px;
      width:auto;
    }
    #aboutus1image {
      height:450px;
      width:325px;
      margin-bottom:3%;
      margin-top:3%;
    }
    #aboutus2image {
      height:350px;
      width:350px;
      margin-bottom:3%;
    }
    .aboutus-text {
      margin:0 5% 0 5%;
      font-size:2.2em;
      width:500px;
      text-align:center;
    }
    #social-box, #contact-heading {
      margin-top:10%;
    }
    .social-statement {
      font-size:2.5em;
    }
    .social-heading {
      font-size:2.0em;
    }
    .social-heading-text {
      font-size:1.3em;
    }
    #employment-box {
      margin-top:15%;
    }
    .app-text {
      padding-left:10%;
    }
    #appointment-details, #three-chicks-section {
      margin-top:20%;
    }
    #app-header {
      font-size:2.5em;
    }
    #three-chicks-section {
      padding:0;
      width:250px;
    }
    #three-chicks-image {
      height:500px;
      width:450px;
    }
    #app-name, #app-email, #app-number, #app-date {
      margin:10px;
      font-size:1.0em;
    }
    #comment-section, #three-chicks-woman {
      margin-top:15%;
    }
    #comment-section {
      padding:10px;
      max-width:365px;
    }
    #three-chicks-woman-image {
      height:450px;
      width:380px;
    }
    #three-chicks-woman {
      width:100px;
    }
    #comm-review {
      width:290px;
    }
  }
  /*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media only screen (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* What could have been */
  }
  /*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
  #three-chicks-cleaning {
    margin-right:40px;
  }
  .image-container1, .image-container2 {
    display:block;
    margin-left:17%;
  }
  .image-container1 {
    margin-top:20%;
  }
  .background-image {
    min-height:auto;
  }
  #pre-footer {
    height:auto;
  }
  .image-container1, .image-container2 {
    vertical-align: middle;
  }
  .images2 {
    height:350px;
    width:300px;
  }
  #f-socials {
    margin-bottom:2%;
  }
  #woman {
    height:500px;
    width:400px;
    margin-top:15%;
  }
  .tabs1, .tabs2, .tabs3, .tabs4, .tabs5, .tabs6 {
    font-size:2.2em;
  }
   .tabs1 {
    left:5px;
    top:400px;
  }
  .tabs2 {
    left:-100px;
    top:300px;
  }
  .tabs3 {
    left:-205px;
    top:200px;
  }
  .tabs4 {
    left:-100px;
    top:200px;
  }
  .tabs5 {
    left:242px;
    top:265px;
  }
  .tabs6 {
    left:175px;
    top:355px;
  }
  .shadow {
    font-size:12.0em;
  }
  .chat {
    font-size:11.0em;
    right:165px;
    bottom:7px;
  }
  #chat  {
    right:80px;
    font-size:1.7em;
    bottom:125px
  }
  #chat-bubble {
    left:100px;
    top:-200px;
    width:auto;
  }
  #aboutus2 {
    margin:100px 0;
  }
  #aboutus1image {
    height:450px;
    width:325px;
    margin-bottom:3%;
    margin-top:3%;
  }
  #aboutus2image {
    height:350px;
    width:350px;
    margin-bottom:3%;
  }
  .aboutus-text {
    margin:2%;
    font-size:2.2em;
    width:auto;
    text-align:center;
  }
  #social-box, #contact-heading {
    margin-top:10%;
  }
  #social-box {
    padding:20px;
  }
  .social-statement {
    font-size:2.2em;
  }
  .social-heading {
    font-size:2.5em;
  }
  .social-heading-text {
    font-size:1.2em;
  }
  #employment-box {
    margin-top:20%;
  }
  .app-text {
    padding-left:2%;
    font-size:1.2em;
  }
  textarea {
    width:100%;
    max-width:275px;
  }
  .inputs {
    margin-left:20px;
  }
  .reason {
    width:400px;
  }
  .address2 {
    margin-left:140px;
  }
  #appointment-details, #three-chicks-section {
    margin-top:15%;
  }
  #three-chicks-image {
    height:500px;
    width:450px;
  }
  #three-chicks-woman-image {
    height:550px;
    width:475px;
  }
  #comment-section, #three-chicks-woman {
    margin-top:20%;
  }
  }
  /*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
  #three-chicks-cleaning {
    font-size:1.7em;
    margin-right:3%;
  }
  .image-container1, .image-container2 {
    display:block;
    margin-right:0;
    margin-left:0;
    padding:0;
  }
  .image-container1 {
    margin-top:20%;
  }
  .images2 {
    height:350px;
    width:300px;
  }
  .background-image {
    min-height:auto;
  }
  .fa-twitter, .fa-facebook {
    font-size:2.5em;
  }
  #pre-footer {
    height:auto;
  }
  #f-socials {
    margin-bottom:2%;
  }
  #footer {
    height:auto;
    font-size:0.85em;
  }
  #woman {
    height:420px;
    width:320px;
    margin-top:-25%;
    margin-left:-10%;
  }
  .tabs1, .tabs2, .tabs3, .tabs4, .tabs5, .tabs6 {
    font-size:2.0em;
  }
   .tabs1 {
    left:-10px;
    top:300px;
  }
  .tabs2 {
    left:-125px;
    top:165px;
  }
  .tabs3 {
    left:-10px;
    top:50px;
  }
  .tabs4 {
    left:-130px;
    top:90px;
  }
  .tabs5 {
    left:-225px;
    top:170px;
  }
  .tabs6 {
    left:0;
    top:180px;
  }
  .shadow {
    font-size:10.0em;
  }
  .chat {
    font-size:9.0em;
    right:135px;
    bottom:7px;
  }
  #chat  {
    right:60px;
    font-size:1.4em;
    bottom:100px;
  }
  #chat-bubble {
    left:25px;
    top:-125px;
    width:auto;
  }
  #woman-container {
    margin:0;
    padding:0;
  }
  #aboutus2 {
    margin:100px 0;
  }
  #aboutus1image {
    height:350px;
    width:225px;
    margin-bottom:3%;
    margin-top:3%;
  }
  #aboutus2image {
    height:250px;
    width:250px;
    margin-bottom:3%;
  }
  .aboutus-text {
    margin:2%;
    font-size:2.0em;
    width:auto;
    text-align:center;
  }
  #social-box {
    margin-top:10%;
    padding:10px;
  }
  #contact-heading {
    margin-top:15%;
  }
  #contact-heading {
    font-size:4.5em;
  }
  .social-statement {
    font-size:2.0em;
  }
  .social-heading {
    font-size:2.8em;
  }
  .social-heading-text {
    font-size:1.1em;
  }
  #employment-box {
    margin-top:20%;
  }
  .app-text {
    padding-left:1%;
    font-size:1.2em;
  }
  textarea {
    width:100%;
    max-width:175px;
  }
  .inputs {
    margin-left:5px;
  }
  .reason {
    width:275px;
  }
  .address2 {
    margin-left:131px;
  }
  #appointment-details, #three-chicks-section {
    margin: 25% 0 0 0 ;
    display:block;
  }
  #three-chicks-image {
    height:425px;
    width:375px;
  }
  #three-chicks-section{
    width:100px;
    margin-left:-20%;
  }
  #app-name, #app-email, #app-number, #app-date {
    margin:20px;
  }
  #legal {
    margin-right:0;
  }
  #three-chicks-woman-image {
    height:450px;
    width:375px;
  }
  #three-chicks-woman {
    margin-left:-15%;
  }
  #comment-section, #three-chicks-woman {
    margin-top:20%;
  }
  .three-chicks-logo {
    height:450px;
    width:300px;
  }
  .validation-text {
    margin-top:15%;
  }
  .validation-header {
    font-size:2.5em;
  }
  }
  
  @media (min-width:239px) and (max-width:319px) {
    * {
      display:none;
    }
  }
  /* END OF QUERY */
  