@import 'responsive.css';
/* Header/Footer Styling */
input {
  border-radius: 10px 10px;
}
textarea {
  border-radius: 10px 10px;
}
hr {
  border: 1px solid grey;
  width:1500px;
}
#header {
  background-color:whitesmoke;
  box-shadow: 0 0 20px 0 black;
  height:50px;
  width:100%;
  max-width:auto;
  text-align:right;
  position:fixed;
  z-index:1000;
}
#three-chicks-cleaning {
  margin-right:38%;
  color:hotpink;
  font-size:2.2em;
  font-family: 'Dancing Script', sans-serif;
  display:inline;
}
#help {
  font-size:3.0em;
  margin:5px 5px;
  color:black;
  border-left:1px solid black;
  padding-left:10px;
}
.background-image {
  position:absolute;
  z-index:-1;
  opacity:0.9;
  width:100%;
  height:100%;
  min-height:890px;
  position:fixed;
  backgroun-size:cover;
}
#bg{
  background-size: contain;
  height:100%;
  min-height:890px;
  width:100%;
  max-width:auto;
}
#pre-footer {
  height:275px;
  width:100%;
  background-color:black;
  padding:20px 10px 0 10px;
}
#page-details , #pf-navigation{
  display:inline-block;
  vertical-align:top;
  margin-right:15%;
}
#f-socials, #legal {
  display:inline-block;
  vertical-align:middle;
  margin-right:5%;
}
.fa-twitter {
  font-size: 3.5em;
  color:hotpink;
  margin-right:25px;
  background-color:white;
  padding:30px 20px;
  border-radius: 100px 75px 100px;
  border:5px solid hotpink;
}
.fa-facebook {
  font-size:3.5em;
  color:hotpink;
  margin-right:25px;
  background-color:white;
  padding:30px;
  border-radius:100px 75px 100px;
  border:5px solid hotpink;
}
.f-heading {
  color:hotpink;
  font-family: cursive;
}
.pd-text {
  width:300px;
  color:whitesmoke;
  line-height: 25px;
}
ul {
  list-style-type: none;
  padding:0;
}
.pf-navs {
   font-size:1.0em;
   color:limegreen;
   font-style: italic;
   line-height: 25px;
}
.pf-navs:hover {
  text-decoration: none;
  color:white;
}
#footer {
  background-color:whitesmoke;
  text-align:right;
  padding:10px 10px;
  height:40px;
  width:auto;
  max-width:100%;
}
/* END */

/* Mission Statement and Text */
.image-container1, .image-container2 {
  display: inline-block;
  margin-top:10%;
}
.image-container1 {
  margin-right:36%;
  margin-left:5%;
}
.images {
  height:400px;
  width:300px;
}
#m-statement {
  color:hotpink;
  margin-top:5%;
  text-align:center;
  background-color:rgba(245, 245, 245, 0.8);
  padding:20px;
  border-radius: 25px 25px;
  margin-bottom:3%;
}
#m-statement-text {
  font-size:2.2em;
  text-shadow: 0.5px 0.5px black;
}
/*#bg {
  display:none;
}*/
/* END */

/* Home Button */
#home-button {
  background-color:hotpink;
  border-radius: 25px 25px;
  border: 3px solid white;
  height:50px;
  width:150px;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:3%;
  text-align:center;
}
#home-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#btn1 {
  font-size:1.3em;
  font-weight: 400;
  margin-top:3px;
  color:white;
}
/* END */
/****
/* RESPONSIVE MEDIA QUERY */
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-width:1500px) {
  #three-chicks-cleaning {
    margin-right:500px;
  }
  .background-image {
    min-height:850px;
    max-height:915px;
  }
}
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
#three-chicks-cleaning {
  margin-right:300px;
}
.background-image {
  max-height:890px;
}
.image-container1 {
  margin-right:20%;
  margin-left:10%;
}
.images {
  height:350px;
  width:250px;
}
#page-details, #pf-navigation {
  margin-right:2%;
}
#f-socials, #legal {
  margini-right:1%;
}
.fa-twitter, .fa-facebook {
  font-size:2.5em;
}
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  #header {
    height:70px;
  }
  #help {
    font-size:4.0em;
  }
  #three-chicks-cleaning {
    margin-right:200px;
    font-size:3.0em;
  }
  .background-image {
    max-height:1100px;
    margin-top:70px;
  }
  .image-container1, .image-container2 {
    margin-top:20%;
  }
  .image-container1 {
    margin-right:50px;
    margin-left:35px;
    margin-bottom:3.8%;
  }
  .images {
    height:400px;
    width:300px;
  }
  #pre-footer {
    padding:10px 0 0 15px;
    height:280px;
  }
  #page-details, #pf-navigation {
    margin-right:1%;
  }
  #f-socials, #legal {
    margini-right:1%;
  }
  .fa-twitter, .fa-facebook {
    font-size:2.5em;
  }
  .fa-twitter {
    padding:25px 15px;
  }
  .fa-facebook {
    padding:25px;
  }
  #m-statement {
    margin-bottom:0;
  }
  #m-statement-text {
    font-size:2.5em;
  }
  #home-button {
    height:70px;
    width:170px;
    margin-bottom:3%;
    margin-top:3%;
    border: 5px solid white;
  }
  #btn1 {
    font-size:1.7em;
    margin-top:7px;
  }
  .pf-navs {
    font-size:1.2em;
    line-height:27px;
  }
  .pd-text {
    font-size:1.3em;
  }
}
/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media only screen (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
/* What could have been */
}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media only screen (min-width: 481px) and (max-width: 767px) {
/* LANDSCAPE ?? */
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

}
/* END OF QUERY */

/* CAROUSEL BEGINNING*/
#home-bg {
  background-size: cover;
  height:100%;
  max-height: 890px;
  width:100%;
  max-width:auto;

/*  background-size: contain;
  height:100%;
  min-height:890px;
  width:100%;
  max-width:auto;
  */
}
/* carousel contents */
#woman {
  width:650px;
  height:750px;
}
#woman-container {
  text-align:center;
  height:auto;
  width:auto;
}
/* end */

/* woman tabs */
.tabs1, .tabs2, .tabs3, .tabs4, .tabs5, .tabs6 {
  position:relative;
  color:hotpink;
  text-shadow: 2px 2px black;
  font-size:3.2em;
  font-family:'Dancing Script', serif;
}
 .tabs1:hover, .tabs2:hover, .tabs3:hover, .tabs4:hover, .tabs5:hover, .tabs6:hover {
  text-decoration:none;
  color:white;
}
.tabs1:active, .tabs2:active, .tabs3:active, .tabs4:active, .tabs5:active, .tabs6:active {
  text-decoration:none;
  color:white;
}
.tabs1 {
  left:500px;
  top:400px;
}
.tabs2 {
  left:370px;
  top:250px;
}
.tabs3 {
  left:300px;
  top:100px;
}
.tabs4 {
  left:500px;
  top:100px;
}
.tabs5 {
  top:250px;
  left:500px;
}
.tabs6 {
  left:400px;
  top:400px;
}
/* end*/

/* talking bubble */
.shadow {
  font-size:16.0em;
  color:hotpink;
  z-index:10000;
  margin:0;
}
.chat {
  font-size:15.0em;
  position:relative;
  right:220px;
  bottom:4px;
  z-index: 0;
  color:white;
}
#chat {
  color:hotpink;
  font-family:'Dancing Script', serif;
  font-size:2.5em;
  text-align:center;
  position:relative;
  right:100px;
  bottom:150px;
}
#chat-bubble {
  bottom:350px;
  left:1150px;
  position:relative;
  display:inline-block;
}
/* end */

/* END*/

/* ABOUT US */
  #aboutus-bg {
    background-size: cover;
    height:100%;
    min-height:890px;
    max-height:2500px;
    width:100%;
    max-width:auto;
  }
  #aboutus1 {
    text-align:center;
    margin:100px 100px;
  }
  #aboutus2 {
    text-align:center;
    margin:100px 100px;
  }
  #aboutus1image, #aboutus2image {
    height:400px;
    width:300px;
    display:inline-block;
  }
   .aboutus-text {
     background-color:rgba(346, 346, 346, 0.8);
     padding:10px;
     border-radius: 25px;
     font-size:2.5em;
     display:inline-block;
     text-align:center;
     vertical-align: middle;
     margin:0 10% 0 10%;
     line-height: 50px;
     color:hotpink;
     font-family:'Dancing Script', serif;
     text-shadow: 0.2px 0.2px grey;
   }
/* END */

/* CONTACT US */
#contactus-bg {
  background-size: cover;
  height:100%;
  min-height:890px;
  width:100%;
  max-width:auto;
}
#social-box {
  background-color:rgba(245, 245, 245, 0.8);
  border-radius: 50px 50px;
  width:1200px;
  height:auto;
  padding:100px;
  line-height: 60px;
  margin-top:2%;
  margin-right:auto;
  margin-left:auto;
}
.social-statement {
  text-align:center;
  color:hotpink;
  font-size:2.7em;
  font-family: 'Dancing Script', serif;
  text-shadow: 0.5px 0.5px black;
}
.social-heading {
  font-size:2.5em;
  font-family: 'Dancing Script', serif;
  color:limegreen;
}
.social-heading-text {
  font-size:1.5em;
  word-spacing: 5px;
}
#facebook, #twitter, #phone-number, #email {
  color:grey;
}
#contact-heading {
  color:hotpink;
  font-size:5.0em;
  font-family: 'Dancing Script', serif;
  text-align:center;
  margin-top:3%;
  text-shadow: 2px 2px black;
}
/* END */

/* TABLE */
table {
  margin-bottom:4%;
  margin-top:4%;
}
/* END */

/* EMPLOYMENT */
#employment-bg {
  background-size: cover;
  height:100%;
  min-height:890px;
  width:100%;
  max-width:auto;
}
#employment-box {
  margin-top:5%;
  margin-right:auto;
  margin-left:auto;
  background-color:rgba(245, 245, 245, 0.8);
  border-radius: 25px 25px;
  margin-bottom:3%;
  padding:0;
  width:1700px;
}
/* HEADERS */
#application-header {
  font-size:4.0em;
  font-family:'Dancing Script', sans-serif;
  color:hotpink;
  text-align:center;
  text-shadow: 2px 2px black;
}
#pi-header {
  text-align:center;
  font-size:1.5em;
  color:white;
  background-color:hotpink;
  padding:10px;
}
#emergency-header {
  text-align:center;
  font-size:1.5em;
  color:white;
  background-color:hotpink;
  padding:10px;
}
#employment-header {
  text-align:center;
  font-size:1.5em;
  color:white;
  background-color:hotpink;
  padding:10px;
}
#reference-header {
  text-align:center;
  font-size:1.5em;
  color:white;
  background-color:hotpink;
  padding:10px;
}
#certification-header {
  text-align:center;
  font-size:1.5em;
  color:white;
  background-color:hotpink;
  padding:10px;
}
/* END */

/* TEXT STYLING */
.app-text {
  color:hotpink;
  font-style: italic;
  font-size:1.5em;
  padding-left:20%;
  text-shadow: 0.5px 0.5px black;
}
.c-text {
  color:limegreen;
  font-style: italic;
  font-size:1.0em;
}
.inputs {
  margin-left:80px;
  font-size:0.8em;
  color:limegreen;
}
.location {
  width:125px;
  margin-right:20px;
}
.employment-range {
  margin-right:20px;
  width:100px;
}
.address2 {
  margin-left:231px;
  margin-top:10px;
}
#years {
  width:50px;
}
#dl-state {
  width:125px;
  margin-left:20px;
}
tr {
  height:75px;
}
#employment-text {
  text-align:center;
  font-size:1.5em;
  color:grey;
}
.reason {
  width:500px;
}
#employment-footer {
  font-size:1.5em;
  text-align:center;
  color:grey;
}
#resume {
  margin-left:auto;
  margin-right:auto;
  margin-bottom:1%;
  color:grey;
}
textarea {
  width:350px;
  height:150px;
}
/* END */
/* REFERENCES */
#reference-text {
  text-align:center;
  font-size:1.5em;
  color:grey;
}
/* END */

/* CERTIFICATION */
#certification {
  width:1500px;
  margin:0 auto;
}
#input, #date {
  display:inline-block;
}
.certification-text, #certification-footer, #signature, #signature-header {
  text-align:center;
  font-size:1.25em;
  margin-bottom:2%;
}
#submition {
  padding:10px 60px;
  border-radius: 25px 25px;
  margin-bottom:2%;
  color:white;
  background-color:hotpink;
  border:3px solid white;
}
#submition:hover {
  transform: scale(1.1);
}
#three-chicks {
  color:hotpink;
  text-shadow: 0.5px 0.5px black;
}
/* END */

/* APPOINTMENT */
#appointment-bg {
  background-size: cover;
  height:100%;
  min-height:890px;
  width:100%;
  max-width:auto;
}
#appointment-details, #three-chicks-section {
  display:inline-block;
  vertical-align: middle;
  margin:8% 2% 5% 1%;
}
#appointment-details {
  background-color:rgba(245, 245, 245, 0.8);
  border-radius: 25px 25px;
  padding:0;
}
#three-chicks-image {
  height:650px;
  width:600px;
}
#date-picker {
  height:50px;
  width:250px;
  font-size:1.2em;
}
#app-name, #app-email, #app-number, #app-date {
  margin:50px 100px;
  color:limegreen;
  font-style: italic;
  font-size:1.2em;
}
#app-header {
  text-align:center;
  font-size:3.0em;
  color:hotpink;
  font-family: 'Dancing Script', sans-serif;
  margin:10px;
  text-shadow: 2px 2px black;
}
#book-button {
  padding:10px 60px;
  border-radius: 25px 25px;
  margin-bottom:2%;
  color:white;
  font-size:1.4em;
  background-color:hotpink;
  border:3px solid white;
}
#book-button:hover {
  transform: scale(1.1);
}
#app-button {
  text-align:center;
  margin-bottom:3%;
}
/* END */

/* SERVICES */
#services-bg {
  background-size: cover;
  height:100%;
  min-height:890px;
  width:100%;
  max-width:auto;
}
#service-video {
  margin-top:9%;
  text-align:center;
  margin-bottom:3%;
}
#video {
  height:400px;
  width:850px;
}
#service-prices {
  background-color:rgba(245, 245, 245, 0.4);
  border-radius: 25px 25px;
  padding:0;
}
/* END */

/* REVISIONS */
#review-bg {
  background-size: cover;
  height:100%;
  min-height:890px;
  width:100%;
  max-width:auto;
}
#comment-section {
  background-color:rgba(245, 245, 245, 0.8);
  border-radius: 25px 25px;
  padding:20px;
  width:100%;
  height:auto;
  color:hotpink;
  max-width:550px;
}
/*#past-reviews {
  background-color:rgba(245, 245, 245, 0.8);
  border-radius: 25px 25px;
  padding:0;
}*/
#comment-section, #three-chicks-woman {
  display:inline-block;
  vertical-align: middle;
  margin-top:10%;
}
#three-chicks-woman-image {
  height:620px;
  width:550px;
}
#comment-heading {
  font-size:3.0em;
  font-family: 'Dancing Script', sans-serif;
  text-shadow: 1px 1px black;
}
.comment-text {
  font-size:1.5em;
  text-shadow: 0.5px 0.5px black;
}
.comm-name {
  font-size:2.0em;
  font-family: sans-serif;
  padding-top:20px;
  text-shadow: 0.5px 0.5px black;
}
.comm-subheading {
  font-size:0.7em;
  font-style: italic;
  color:limegreen;
  font-family: none;
  padding-left:50px;
}
#comm-review {
  font-size:2.0em;
}
#comm-button {
  text-align:center;
  margin-bottom:1%;
  margin-top:3%;
}
#review-button {
  padding:10px 60px;
  border-radius: 25px 25px;
  color:white;
  background-color:hotpink;
  border:3px solid white;
}
#review-button:hover {
  transform: scale(1.1);
}
/* END */

/* VALIDATION PAGES */
.validation {
  background-color:white;
  background-size: cover;
  height:100%;
  min-height:890px;
  width:100%;
  max-width:auto;
}
.validation-text {
  text-align:center;
  margin:10% auto 0 auto;
}
.validation-header {
  color:grey;
  font-size:3.0em;
  font-family: sans-serif;
}
.validation-sub-text {
  font-size:1.5em;
  color:hotpink;
  font-style: italic;
}
.three-chicks-logo {
  height:500px;
  width:400px;
}
/* END*/

/* END */
