/* Header/Footer Styling */
#header {
  background-color:whitesmoke;
  height:50px;
  width:auto;
  max-width:100%;
  text-align:right;
}
#help {
  font-size:3.0em;
  margin:5px 5px;
  color:black;
  border-left:1px solid black;
  padding-left:10px;
}
#bg{
  /*background-image: url('https://i.imgur.com/BrLHI25.png');*/
  background-color:grey;
  background-size: cover;
  height:100%;
  min-height:890px;
  max-height:890px;
  width:100%;
  max-width:auto;
}
#pre-footer {
  height:275px;
  width:100%;
  background-color:black;
  padding:20px 30px;
}
#page-details , #pf-navigation{
  display:inline-block;
  vertical-align:top;
  margin-right:15%;
}
#f-socials, #legal {
  display:inline-block;
  vertical-align:middle;
  margin-right:5%;
}
.fa-twitter {
  font-size: 3.5em;
  color:pink;
  margin-right:25px;
  background-color:white;
  padding:30px 20px;
  border-radius: 100px 75px 100px;
  border:5px solid pink;
}
.fa-facebook {
  font-size:3.5em;
  color:pink;
  margin-right:25px;
  background-color:white;
  padding:30px;
  border-radius:100px 75px 100px;
  border:5px solid pink;
}
.f-heading {
  color:pink;
  font-family: cursive;
}
.pd-text {
  width:300px;
  color:whitesmoke;
  line-height: 25px;
}
ul {
  list-style-type: none;
  padding:0;
}
.pf-navs {
   font-size:1.0em;
   color:limegreen;
   font-style: italic;
   line-height: 25px;
}
.pf-navs:hover {
  text-decoration: none;
  color:white;
}
#footer {
  background-color:whitesmoke;
  text-align:right;
  padding:10px 10px;
  height:40px;
  width:auto;
  max-width:100%;
}
/* END */

/* Mission Statement and Text */
.image-container1, .image-container2 {
  display: inline-block;
  margin-top:10%;
}
.image-container1 {
  margin-right:36%;
  margin-left:5%;
}
.images {
  height:400px;
  width:300px;
}
#m-statement {
  color:pink;
  margin-top:5%;
  text-align:center;
  background-color:rgba(245, 245, 245, 0.1);
  border-radius: 5px;
  margin-bottom:3%;
}
#m-statement-text {
  font-size:2.2em;
}
/*#bg {
  display:none;
}*/
/* END */

/* Home Button */
#home-button {
  background-color:pink;
  border-radius: 25px 25px;
  border: 3px solid white;
  height:50px;
  width:150px;
  margin:0 auto;
  text-align:center;
}
#home-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#btn1 {
  font-size:1.3em;
  font-weight: 400;
  margin-top:3px;
  color:white;
}
/* END */
/****

END OF INDEX.HTML Page

****/

/* CAROUSEL BEGINNING*/
#home-bg {
  background-color:grey;
  background-size: cover;
  height:100%;
  min-height:890px;
  max-height:890px;
  width:100%;
  max-width:auto;
}
/* carousel contents */
#woman {
  width:650px;
  height:750px;
}
#woman-container {
  text-align:center;
  height:auto;
  width:auto;
}
/* end */

/* woman tabs */
.tabs1, .tabs2, .tabs3, .tabs4, .tabs5, .tabs6 {
  position:relative;
  color:pink;
  font-size:3.2em;
  font-family:'Dancing Script', serif;
}
 .tabs1:hover, .tabs2:hover, .tabs3:hover, .tabs4:hover, .tabs5:hover, .tabs6:hover {
  text-decoration:none;
  color:white;
}
.tabs1:, .tabs2:active, .tabs3:active, .tabs4:active, .tabs5:active, .tabs6:active {
  text-decoration:none;
  color:white;
}
.tabs1 {
  left:500px;
  top:400px;
}
.tabs2 {
  left:370px;
  top:250px;
}
.tabs3 {
  left:300px;
  top:100px;
}
.tabs4 {
  left:500px;
  top:100px;
}
.tabs5 {
  top:250px;
  left:500px;
}
.tabs6 {
  left:400px;
  top:400px;
}
/* end*/

/* talking bubble */
.shadow {
  font-size:16.0em;
  color:pink;
  z-index:10000;
  margin:0;
}
.chat {
  font-size:15.0em;
  position:relative;
  right:220px;
  bottom:4px;
  z-index: 0;
  color:white;
}
#chat {
  color:pink;
  font-family:'Dancing Script', serif;
  font-size:2.5em;
  text-align:center;
  position:relative;
  right:100px;
  bottom:150px;
}
#chat-bubble {
  bottom:350px;
  left:1150px;
  position:relative;
  display:inline-block;
}
/* end */

/* END*/

/* ABOUT US */
  #aboutus-bg {
    background-color:grey;
    background-size: cover;
    height:100%;
    min-height:890px;
    max-height:2500px;
    width:100%;
    max-width:auto;
  }
  #aboutus1 {
    text-align:center;
    margin:100px 100px;
  }
  #aboutus2 {
    text-align:center;
    margin:100px 100px;
  }
  #aboutus1image, #aboutus2image {
    height:400px;
    width:300px;
    display:inline-block;
  }
   .aboutus-text {
     background-color:rgba(245, 245, 245, 0.1);
     padding:10px;
     border-radius: 25px;
     font-size:2.5em;
     display:inline-block;
     text-align:center;
     vertical-align: middle;
     margin:0 10% 0 10%;
     line-height: 50px;
     color:pink;
     font-family:'Dancing Script', serif;
   }
/* END */
